* {
   
    background-color: cornflowerblue;

}
p {
    text-align: center;
    color: rgb(244, 248, 244);
    text-decoration: dotted;
    padding-bottom: 50px;
    padding-top: 20px;
}
form {
    padding: 20px 0 0 100px;
    text-align: center;
}
table {

    color: white;
    width: 50%;
}
table, th, td {
    border: 1px solid red;
 
}
th, td {
    padding: 15px;
}
th {
    text-align: center;
    color:brown;
    text-decoration:double;
   
}
